:root {
    --roboto: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--roboto);
    position: relative;
    width: 100vw;
    height: 100vh;
}

.main-page {
    width: 100%;
    height: 100vh;
}

.main-page:before {
    content: "";
    background-image: url("images/nba.png");
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    background-size: 130%;
    background-position: -400px -20px;
    filter: grayscale(45%);
    /* object-fit: fill; */
    width: 100%;
    height: 100%;
    z-index: -5;
}

.main-container {
    height: 75%;
}

.main-container > div:nth-child(even) {
    background-color: gray;
}

.header-container {
    height: 11%;
    padding-top: 0.3rem;
}

.header-container > h1{
    font-size: 6rem;
    align-self: auto;
}

.nba-text {
    color: rgb(0, 101, 209);
}

.header-logo {
    background-image: none;
    width: 200px;
    height: 160px;
    z-index: 2;
    animation: bounce 4s ease-out forwards;
}

.header-text {
    animation: fly-down 2s ease-out forwards;
    letter-spacing: 0.5rem;
}

.choice-container {
    height: 8%;
}

.btn-category, .dropdown-menu, .dropdown-item {
    z-index: 10;
}
.btn-category {
    height: 2.8rem;
    transform: translateX(-18%);
    animation: fly-right 2s ease forwards;
}

.category-container {
    position: relative;
    width: 95%;
    margin: 1rem auto;
    animation: appear 2s ease forwards,
            enlarge 2s ease forwards;
}

.teams-desc-container {
    width: 90%;
    display: grid;
    height: 90%;
    grid-template-rows: auto;
    grid-template-columns: 0.8fr 2fr;
    grid-template-areas: "team-list team-desc";
    padding-left: .5rem;
    padding-right: .5rem;
}


.sub-title {
    margin-left: 50%;
    transform: translateX(-25%);
}

.left-container {
    grid-area: team-list;
    display: grid;
    grid-template-rows: 0.5fr 10fr;
    grid-template-areas: "sub-title"
                            "list-team";
}

.right-container {
    grid-area: team-desc;
}

.category-title {
    grid-area: sub-title;
    margin-left: 20%;
    font-size: 1.4rem;
}

.list-team {
    grid-area: list-team;
}

.team-content {
    cursor: pointer;
    display: inline-block;
    width: 70%;
    padding-left: 2rem;
    /* width: 30%; */
}

.team-logo {
    width: 26px;
    height:26px;
    margin-left: 20px;
    float: left;
    margin-top: 5px;
}


.team-content:hover {
    background-color: #191919;
    filter: opacity(.6);
    font-weight: bold;
    scale: 1.1;
    color: orange !important;
}

.desc-container {
    margin: 0 5% 5% 30%;
    padding: 2rem;
    height: 75%;
    width: 60%;
    position: absolute;
    top: 17%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". nba-logo nba-logo nba-logo nba-logo ."
                        ". nba-logo nba-logo nba-logo nba-logo ."
                        ". . conference conference conference conference"
                        "team-logo team-logo conference conference conference conference"
                        "team-logo team-logo division division division division"
                        ". . division division division division";
}

.desc-nba-logo {
    margin: 0 auto;
    width: auto;
    height: 100%;
    grid-area: nba-logo;
    z-index: 1;
    opacity: 1;
    background-color: hsla(100, 100%, 100%, 0.2);
    border-radius: 10px;
}

.desc-team-logo {
    width: auto;
    height: 100%;
    grid-area: team-logo;
}

.info-team-logo {
    margin: auto 15px;
    width: 65%;
    height: 100%;
}

.conference, .division {
    letter-spacing: 3px;
}

.conf-value, .division-value {
    justify-self: center;

}

.desc-conference {
    height: 100%;
    grid-area: conference;
}

.desc-division {
    height: 100%;
    grid-area: division;
}



/* player category */
.player-category-container {
    max-height: 75%;
}

.max-height-75 {
    height: 80%;
}

.list-players {
    margin-top: 20px;
    height: 100%;
}

.player-col-container {
    height: 70%;
    width: 90%;
}

.scroll {
    max-height: 100%;
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    /* -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 1); */
    margin-top: 20px;
    margin-bottom: 20px;
}

.right-container {
    margin: 0 5% 5% 30%;
    padding: 2rem;
    height: 75%;
    width: 60%;
    position: absolute;
    top: 17%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.3fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". nba-logo nba-logo nba-logo nba-logo ."
                        ". nba-logo nba-logo nba-logo nba-logo ."
                        "team-logo team-logo conference conference conference conference"
                        "team-logo team-logo conference conference conference conference"
                        "team-logo team-logo division division division division"
                        ". . division division division division";
}

.player-desc-container {
    margin-left: 32%;
}

.info-player-pic {
    object-fit: cover;
    margin-top: 15%;
    width: 90%;
    height: 90%;
}

/* animations */
@keyframes bounce {
    0% { margin-top: -200px; }
    21%, 23% { margin-top: -100px; }
    10%, 32%, 52%, 68%, 80%, 88%, 95%, 100% { margin-top: .5rem; }
    41%, 43% { margin-top: -60px; }
    60%, 62% { margin-top: -35px; }
    75%, 76.5% { margin-top: -15px; }
    85%, 86.5% { margin-top: -5px; }
    92%, 93% { margin-top: -2px; }
    98%, 99% { margin-top: -1px; }
}

@keyframes fly-down {
    0% { margin-top: -50%; }
    100% { margin-top: 0%; }
}

@keyframes fly-right {
    0% { margin-left: -100%; }
    100% { margin-left: 0%; }
}

@keyframes appear {
    0% { opacity: 0; }    
    100% { opacity: 1; }
}

@keyframes disappear {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes enlarge {
    0% { scale: 0.2; }
    100% { scale: 1; }
}

@keyframes sway {
    0%, 50%, 100% { transform: rotate3d(0); }
    25% { transform: rotate3d(0, 1, 0, 45deg); }
    75% { transform: rotate3d(0, 1, 0, -45deg); }
}
th > div:nth-child(even) {
    background-color: aquamarine;
}

/* responsive design */

@media screen and (max-width: 1400px) {
    .main-page:before {
        background-size: 140%;
    }
}
   
@media screen and (max-width: 1300px) {
    .main-page:before {
        background-size: 160%;
        background-position: -550px;
    }
}

@media screen and (max-width: 1200px) {
    .team-content {
        flex-wrap: nowrap;
    }

    .teams-desc-container {
        grid-template-columns: 1fr 2fr;
    }

    .desc-container {
        left: 3%;
    }
}

@media screen and (max-width: 1110px) {
    .main-page:before {
        background-size: 200%;
        background-position-x: -890px;
    }

    .team-logo {
        width: 18px;
        height: 18px;
    }
    .list-team {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 990px) {
    .list-team {
        font-size: 0.95rem;
    }
}

@media screen and (max-width: 930px) {
    .main-page:before {
        background-size: 240%;
        background-position: -950px;
    }

    .teams-desc-container {
        grid-template-columns: 1fr 2fr;
    }
    .header-container > h1 {
        font-size: 4.5rem;
    }

    .header-text {
        margin-bottom: 0;
        align-self: flex-end;
    }

    .team-content {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 875px) {
    .scroll {
        max-height: 100%;
    }    
    .team-content {
        font-size: 0.85rem;
    }
   
    .teams-desc-container {
        width: 96%;
    }
}

@media screen and (max-width: 780px) {
    .main-page:before {
        background-size: 275%;
        background-position: -left;
    }

    .desc-container {
        padding: 1rem;
        left: 40px;
    }

    .header-container > h1 {
        letter-spacing: 0.5px;
    }

    .teams-desc-container {
        grid-template-columns: 1.2fr 2fr;
    }

    .team-content {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 700px) {
    #category {
        font-size: 1rem;
    }
    .header-container > h1, .nba-text {
        font-size: 3.5rem;
    }
    .desc-nba-logo {
        width: auto;
        height: 90%;
    }
    .logo-team {
        height: 70%;
    }
}

@media screen and (max-width: 650px) {
    .main-page:before {
        background-size: 375%;
    }
    #category {
        font-size: 0.8rem;
    }
    .conference, .division {
        letter-spacing: 0px;
    }

    .desc-nba-logo {
        height: 75%;
    }

}
@media screen and (max-width: 580px) {
    .header-container > h1, .nba-text {
        padding-top: 20px;
        font-size: 2.8rem;
    }
    .header-container {
        letter-spacing: 0;
    }

    .sub-title {
        font-size: 1.3rem;
        transform: translateX(-40%);
    }

    .team-content {
        padding-left: 1rem;
    }
  
}

@media screen and (max-width: 400px) {
    .header-container {
        padding-top: 0.5rem;
        height: 15%;
        position: relative;
    }

    .nba-text, .header-text {
        position: absolute;
        padding-top: 0.25rem !important;
        margin-left: 10px;
        line-height: 2.7rem;
        width: 60vw;
        font-size: 2.4rem;
    }

    .header-text {
        left: 20px;
    }

    .nba-text {
        color: #2b77e6;
        top: 40px;
        left: -10px;
    }

    .header-logo {
        position: absolute;
        top: 1%;
        right: 2%;
        width: 115px;
        height: 80px;
    }

    #category {
        width: 50% !important;
        position: absolute;
        top: 0px;
        left: 35%;
        height: 36px;
    }

    .category-title {
        font-size: 0.9rem;
    }

    .player-col-container > .category-title {
        padding-top: 20px;
    }

    .left-container.player-col-container {
        height: 72%;
    }

    .list-players {
        margin-top: 5px;
    }

    .main-container {
        position: absolute;
        width: 95%;
        top: 20%;
        left: 2.5%;
        height: 74%;
        padding-left: 0;
        padding-right: 0;
    }

    .players.team-content {
        font-size: 0.65rem;
    }

    .players-desc-container.teams-desc-container {
        grid-template-columns: 1.5fr 2fr;
    }

    .players-container.desc-container {
        width: 50% !important;
        left: 50px;
    }

    #smith, #anigbogu, #johnson {
        font-size: 0.6rem;
    }

    #brown, #evans, #gortat, #bogut, #randolph, #teodosic, #wright, #ansley {
        font-size: 0.55rem;
    }

    #brooks {
        font-size: 0.48rem;
    }

    #richardson {
        font-size: 0.43rem;
    }

    .list-players.scroll {
        height: 90%;
    }

    .scroll {
        height: 80%;
        width: 100%;
    }

    .sub-title {
        font-size: 1rem;
        margin-left: 45%;
        transform: translateX(-40%);
    }

    .teams-desc-container {
        padding: 0 !important;
        grid-template-columns: 1.3fr 2fr;
        height: 94%;
    }

    .left-container {
        height: 93%;
        width: 100%;
    }

    .list-team {
        height: 90%;
    }

    .team-content {
        font-size: 0.55rem;
        width: 100%;
        padding: 0.5rem;
        display: inline;
    }

    #thunder, #blazers, #warriors {
        font-size: 0.47rem;
    }

    .team-logo {
        display: inline;
        margin-left: 10px;
        width: 14px;
        height: 14px;
        /* float: left; */
    }

    .desc-container {
        width: 53% !important;
        padding: 1rem 0.5rem;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: "team-logo team-logo nba-logo nba-logo nba-logo nba-logo nba-logo"
                             "team-logo team-logo nba-logo nba-logo nba-logo nba-logo nba-logo"
                             "team-logo team-logo nba-logo nba-logo nba-logo nba-logo nba-logo"
                            "conference conference conference conference conference conference conference"
                            "conference conference conference conference conference conference conference"
                            ". . . . . . ."
                            "division division division division division division division"
                            "division division division division division division division"
                            ". . . . . . .";
        }
    
    .logo-team {
        margin: 0;
        margin-top: 18px;
        width: 50px;
        height: 50%;
    }

    .logo-team.info-player-pic {
        margin-top: 12px;
    }

    .desc-nba-logo {
        position: absolute;
        top: 5px;
        left: 5px;
        height: 74%;
        background-color: hsla(100, 100%, 100%, 0.4);
        border-radius: 5px;
    }

    .conference, .division {
        font-size: 1.2rem !important;
    }

    .conf-value, .division-value {
        font-size: 0.8rem;
    }
}
    